@model IEnumerable<IceCream3.Models.Menu>

@{
    ViewData["Title"] = "ItemsPage2";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bundle.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/ItemsPage.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
    </li>
    @foreach (var item in Model)
    {
        <li class="mdc-list-item" role="option">
            <span class="mdc-list-item__ripple"></span>
            <div class="mdc-card">
                <div class="mdc-card__primary-action" >
                    <div class="mdc-card__media mdc-card__media--square" style="background-image: url('@Html.DisplayFor(modelItem => item.ImageUrl)');">
                    </div>
                    <div class="mdc-card__ripple"></div>
                </div>
                @Html.DisplayFor(modelItem => item.Name)
                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <a href="@Url.Action("Create", "Orders")">
                            <button class="mdc-button mdc-card__action mdc-card__action--button">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Select</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    }
    </ul>
</body>
</html>