@model IEnumerable<IceCream3.Models.Order>

@{
    ViewData["Title"] = "OrderSuccess";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bundle.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/ItemsPage.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
    <h1 style="color:cornflowerblue">
        Your order was completed successfully!
    </h1>
    <a href="@Url.Action("ItemsPage2", "Orders")">
        <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" style="background-color: cornflowerblue">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Back to ice creams</span>
        </button>
    </a>
</body>
</html>
