@model IEnumerable<IceCream3.Models.Menu>
@{
    Layout = "_LayoutAdmin";
    string options = "";
    foreach (var item in Model)
    {
        options += $"{item.Flavor},";
    }
    options = options.Remove(options.Length - 1, 1);
}
<datalist id="flavors"></datalist>
<script>
    var options = "";
    var options_str = "@options".split(",");
    for (var i = 0; i < options_str.length; i++) {
        options += '<option value="' + options_str[i] + '" />';
    }
    var option_list = document.getElementById("flavors");
    option_list.innerHTML = options;
</script>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:cornflowerblue">Choose Flavor you want to get analysis for</h2>
        <form method="post" asp-action="Analytics">
            <div class="form-group">
                <input list="flavors" name="Flavor" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="StartDate" class="control-label">Start Date</label>
                <input type="date" name="StartDate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="EndDate" class="control-label">End Date</label>
                <input type="date" name="EndDate" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Get Analysis" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
