@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>The Flavor that is predicted to be most sell is: @ViewData["Prediction"]</h1>