@model IceCream3.Models.Menu
@{
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SellPrediction" method="post">
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input for="City" class="form-control" name="City"/>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label">Quantity</label>
                <input for="Quantity" class="form-control" name="Quantity" type="number" />
            </div>
            <div class="form-group">
                <label for="DayOfWeek" class="control-label">DayOfWeek</label>
                <input for="DayOfWeek" class="form-control" name="DayOfWeek"/>
            </div>
            <div class="form-group">
                <label for="Season" class="control-label">Season</label>
                <input for="Season" class="form-control" name="Season"/>
            </div>
            <div class="form-group">
                <label for="Degree" class="control-label">Degree</label>
                <input for="Degree" class="form-control" name="Degree"/>
            </div>
            <div class="form-group">
                <label for="Humidity" class="control-label">Humidity</label>
                <input for="Humidity" class="form-control" name="Humidity"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate Sell Prediction" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

